

<!-- Forma za ažuriranje profila -->
<form (ngSubmit)="onSaveProfile()">
  <div>
    <label>Name:</label>
    <input type="text" [(ngModel)]="profile.firstName" name="firstName" required />
  </div>
  <div>
    <label>Surname:</label>
    <input type="text" [(ngModel)]="profile.lastName" name="lastName" required />
  </div>
  <div>
    <label>Email:</label>
    <input type="email" [(ngModel)]="profile.email" name="email" required readonly />
  </div>
  <div>
    <label>Age:</label>
    <input type="number" [(ngModel)]="profile.age" name="age" />
  </div>
  <div>
    <label>Location:</label>
    <input type="text" [(ngModel)]="profile.location" name="location" />
  </div>
  <button type="submit">Save profile</button>
</form>

<!-- Forma za promenu lozinke -->

<form (ngSubmit)="onChangePassword()">
  <div>
    <label for="currentPassword">Current Password</label>
    <input id="currentPassword" [(ngModel)]="passwords.currentPassword" name="currentPassword" type="password" required>
  </div>
  <div>
    <label for="newPassword">New Password</label>
    <input id="newPassword" [(ngModel)]="passwords.newPassword" name="newPassword" type="password" required>
  </div>
  <div>
    <label for="confirmNewPassword">Confirm New Password</label>
    <input id="confirmNewPassword" [(ngModel)]="passwords.confirmNewPassword" name="confirmNewPassword" type="password" required>
  </div>
  <input type="hidden" [(ngModel)]="profile.email" name="email">
  <button type="submit">Change Password</button>
</form>